<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="css/interfaceUser.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/mOQufxl.jpg" />
</head>

<body style="background-image: url(https://i.imgur.com/izO161A.jpg);">
    <div class="wrapper">
        <div class="bubbles"></div>
        <form action="" class="form">
            <h1 class="title">Bienvenido</h1>
            <div class="inp">
                <input type="text" name="" id="" class="input" placeholder="Nombres">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="text" name="" id="" class="input" placeholder="Apellidos">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button class="submit">Comenzar</button>
        </form>
    </div>
</body>

</html>