{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link type="text/css" href="{% static 'css/interfaceUser.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/mOQufxl.jpg" />
    <style>
        .fondo{
            background-image: url("https://i.imgur.com/izO161A.jpg");
        }
    </style>
    <script>
        function textUsu(texto) {
            const alfanumericoRegex = /^[a-zA-Z]+$/;
            return alfanumericoRegex.test(texto) && texto.length >= 3;
            }
        function tieneCaracteresEspeciales(texto) {
            const caracteresEspecialesRegex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
            return caracteresEspecialesRegex.test(texto);
            }
        function validarFormulario() {
            var nombre = document.getElementById('name').value;
            var apellido = document.getElementById('apellido').value;

            if (!textUsu(nombre)) {
                alert('El nombre no cumple con los requisitos.');
                return false;
            }

            if (!textUsu(apellido)) {
                alert('El apellido no cumple con los requisitos.');
                return false;
            }

            return true;
        }
    </script>
</head>

<body id="fondo">
    <div class="wrapper">
        <div class="bubbles"></div>
        <form method="POST" class="form" onsubmit="return validarFormulario()">
            {% csrf_token %}
            <h1 class="title">Bienvenido</h1>
            <div class="inp">
                <input type="text" name="name" id="name" class="input" placeholder="Nombres" required>
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inp">
                <input type="text" name="apellido" id="apellido" class="input" placeholder="Apellidos" required>
                <i class="fa-solid fa-lock"></i>
            </div>
            <button type="submit" class="submit">Comenzar</button>
        </form>
    </div>
</body>

</html>