body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("https://i.imgur.com/dC6HvFB.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Cambiado a "cover" */
    background-color: rgba(6, 143, 167, 0.3);
    border-radius: 50%; /* Cambiado a "50%" */
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5); /* Cambiado a "50px" */
    background-position: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 50px 0 #00a6bc;    
}

.form {
    background: transparent;
    border: 4px solid rgba(238, 212, 212, 0.815);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 10px;
    width: 35%;
    height: 300px;
}

.title {
    text-align: center;
    font-size: 2em;
    background-image: linear-gradient(to right, #2e079b, #0d8dd6, #990278, #2f69b4, #cf3636); 
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.inp {
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    height: 30px;
  
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(228, 96, 210), #a704d4);
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer {
    text-align: center;
    color: #fa459a;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

@media (max-width: 800px) {
    .form {
        width: 80%;
        height: 60%;
    }
    .body{
        width: 50%;
        height: 50%;        
    }
}
